/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/home.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.home_container__STkGE{
    position: absolute;
    color: white;
    font-size: 36px;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home_text__V_IFc{
   margin-top: 250px;
   font-family: 'Montserrat';
   font-weight: 500;
   text-wrap: wrap;
   text-align: center;
   padding: 0 20px;
}


@media(min-width: 350px){
    .home_text__V_IFc{
        font-size: 40px;
     }
}
@media(min-width: 600px){
    .home_text__V_IFc{
        font-size: 52px;
     }
}
@media(min-width: 750px){
    .home_text__V_IFc{
        margin-top: 0%;
        margin-right: 20%;
     }
}
@media(min-width: 1400px){
    .home_text__V_IFc{
        font-size: 72px;
        margin-right: 30%;
     }
}
